<ng-container>
  <div class="header">
    <h3>Your personal feed</h3>
    <p>Feed from all your communities</p>
    <br />
  </div>
</ng-container>



<div class="feedSettings">
  <!--
      <feed-settings (orderByValueEmitter)="changeOrderByValue($event)"></feed-settings>
  -->
</div>

<ng-container class="feed" *ngIf="allPosts !== undefined && allPosts.length > 0; else noPosts">
  <feed-component [allPosts]="allPosts"></feed-component>
</ng-container>

<ng-template #noPosts>
  <b>There does not appear to be any posts from your communities.</b><br />
  <p>Try joining more communities, and their posts will appear here</p>
</ng-template>
