<ng-container *ngIf="selectedPost.user">
  <div>
    <button mat-icon-button [routerLink]="['../..']"><mat-icon>first_page</mat-icon>Go back</button>

    <ng-container *ngIf="loggedIn">
      <div class="notificationSubscription">
        <notificationSubscriber-component [user]="user" [post]="selectedPost"></notificationSubscriber-component>
      </div>
    </ng-container>

  </div>


  <div class="post post-no-hover" style="border: none">
    <div class="row post-content">
      <div class="poster">
        <small>
          <span *ngIf="!selectedPost.anonymous">{{selectedPost.user.firstname}} {{selectedPost.user.lastname}} &middot; {{selectedPost.date | dateAgo}}</span>
          <span *ngIf="selectedPost.anonymous">Anonymous &middot; {{selectedPost.date | dateAgo}}</span>
        </small>
      </div>
      <div class="report-dot" (click)="noRouting($event)">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="copyURLToClipboard()"><mat-icon>share</mat-icon>Copy link</button>
          <button mat-menu-item (click)="reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
        </mat-menu>
      </div>
    </div>
    <div class="row post-content" (click)="noRouting($event)">
      <div class="votes">
        <button mat-icon-button (click)="upvotePost(selectedPost, user)" matTooltip="Upvote post"><mat-icon>keyboard_arrow_up</mat-icon></button>
        {{selectedPost.upvotes - selectedPost.downvotes}}
        <button mat-icon-button (click)="downvotePost(selectedPost, user)" matTooltip="downvote post"><mat-icon>keyboard_arrow_down</mat-icon></button>
      </div>

      <div class="post-text">
        <div>{{selectedPost.text}}</div>
      </div>
    </div>

    <div class="row post-content" *ngIf="selectedPost.postTag">
      <div class="tag">
        <small>
          <i>{{selectedPost.postTag.title}}</i>
        </small>
      </div>
    </div>
  </div>

  <br />



  <ng-container *ngIf="loggedIn">
    <ng-container *ngIf="respondTo !== undefined && respondTo !== null">
      <span>Replying to comment #{{findIndexForComment(respondTo)}} </span><button class="btn btn-danger btn-sm" (click)="cancelRespons()">Cancel</button>
    </ng-container>
    <form [formGroup]="commentForm">
      <div class="form-group">
        <textarea class="form-control" id="textComment" formControlName="textComment" placeholder="Write a comment here"></textarea>
      </div>

      <div class="form-group row">
        <div class="form-check col">
          <label for="identity" class="form-check-label">Which identity do you want to use?</label>

          <select class="form-control" formControlName="identityField">
            <option [value]="null">Anonymous</option>
            <option [ngValue]="user.firstname">{{user.firstname}} {{user.lastname}}</option>
            <!--FIX BACKEND FIRST<option [ngValue]="user.gender">{{user.gender}} {{user.age}}</option> -->
          </select>
        </div>

        <div class="form-check col">
          <label for="experience" class="form-check-label">Experience to highlight</label>


          <select class="form-control" id="experience" formControlName="experienceField">
            <option [value]="null">None</option>
            <option *ngFor="let exp of user.experience" [ngValue]="exp">{{exp.occupation}} - {{exp.industry.title}} {{exp.studentSubject.title}}</option>
          </select>
        </div>

      </div>

      <div class="form-group">
        <button type="button" class="btn post-btn" (click)="sendComment(selectedPost)" [disabled]="!commentForm.valid">Post comment</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="!loggedIn">
    <button type="button" class="btn post-btn" [routerLink]="['/logIn']">Log in to reply to post</button>
  </ng-container>

  <br />

  <div *ngFor="let comment of selectedPost.comment | orderBy: 'date'; index as i;" [ngClass]="{'highlighted': highligtedIndex === i+1}">
    <div class="comment">
      <div class="row post-content" *ngIf="comment.responsTo !== undefined && comment.responsTo !== null">
        <span (click)="highlightComment(comment.responsTo)" matTooltip="Click to highlight the comment">Reply to comment #{{findIndexForComment(comment.responsTo)}}</span>
      </div>
      <div class="row post-content">
        <div class="poster">
          <small>
            <span>#{{i + 1}}</span>
            <span *ngIf="!comment.anonymous">{{comment.user.firstname}} {{comment.user.lastname}}</span>
            <span *ngIf="comment.anonymous">Anonymous</span>
            <span *ngIf="comment.experience != null"> &middot; {{comment.experience.occupation}} - {{comment.experience.industry.title}} {{comment.experience.studentSubject.title}}</span>
            <span> &middot; {{comment.date | dateAgo}}</span>
          </small>
        </div>
        <div class="report-dot">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="reportComment(comment)"><mat-icon>report</mat-icon>Report comment</button>
            <button mat-menu-item (click)="respondToComment(comment)"><mat-icon>reply</mat-icon>Reply</button>
          </mat-menu>
        </div>

      </div>
      <div class="row post-content">
        <div class="votes">
          <button mat-icon-button (click)="upvoteComment(comment, user)" matTooltip="Upvote comment"><mat-icon>keyboard_arrow_up</mat-icon></button>
          {{comment.upvotes - comment.downvotes}}
          <button mat-icon-button (click)="downvoteComment(comment, user)" matTooltip="Downvote comment"><mat-icon>keyboard_arrow_down</mat-icon></button>
        </div>

        <div class="post-text">
          <b>{{comment.text}}</b>

          <br />

        </div>

        <div class="reply-button">
          <button mat-icon-button matTooltip="Reply to comment"><mat-icon>reply</mat-icon></button>
        </div>
      </div>
    </div>

  </div>
</ng-container>
