<ng-container>

  <b class="pointAndNoSelect" (click)="goBack()">🢀 Go back <span *ngIf="selectedCommunity">to {{selectedCommunity.title}}</span></b>

  <div class="communityPost">
    <div class="row">
      <div class="col-md-auto pointAndNoSelect">
        <b (click)="upvotePost(selectedPost)" matToolTip="Upvote post">🢁</b><br />
        {{selectedPost.upvotes - selectedPost.downvotes}}<br />
        <b (click)="downvotePost(selectedPost)" matToolTip="downvote post">🢃</b><br />
      </div>


      <div class="col">
        <h4>{{selectedPost.text}}</h4>
        <small>Submitted by {{selectedPost.userID}} on {{selectedPost.date | dateAgo}}</small>
      </div>
    </div>

  </div>

  <br />
  <hr />
  <br />

  <ng-container>
    <form [formGroup]="commentForm">
      <div class="form-group">
        <textarea class="form-control" id="textComment" formControlName="textComment" placeholder="Comment..."></textarea>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="sendComment(selectedPost.id)" [disabled]="!commentForm.valid">Post comment</button>
      </div>
    </form>
  </ng-container>

    <br />

    <div *ngFor="let comment of selectedPost.comment; index as i;" class="postComment">
      <div class="row">
        <div class="col-md-auto pointAndNoSelect">
          <b (click)="upvoteComment(comment)" matToolTip="Upvote comment">🢁</b><br />
          {{comment.upvotes - comment.downvotes}}<br />
          <b (click)="downvoteComment(comment)" matToolTip="downvote comment">🢃</b><br />
        </div>

        <div class="col">
          <b>#{{i+1}}</b><br />
          <p>{{comment.text}}</p>


          <small>Submitted by {{comment.userID}} on {{comment.date | dateAgo}}</small>
        </div>

      </div>
      <hr />
    </div>


</ng-container>
