<div class="container">
    <div id="intro">
        <h1>Vi ønsker å vite mer om deg</h1>

        <p>Derfor ønsker vi at du fyller ut litt ekstra informasjon om deg selv</p>
        <p>Hvis du ikke har lyst til å gjøre dette nå kan du alltids gjøre den ved en senere annledning</p>
        
        <button type="button" class="btn skip-btn" [routerLink]="['/home']">Hopp over</button>
        <button type="button" class="submit-btn" (click)="addMore()">Fortsett</button>
       <!-- <button type="button" class="btn btn-primary" (click)="addMoree()">moree</button> -->
    </div>
    <br/>
    <div *ngIf="this.addMoreExp">
        <form [formGroup]="formAddExpInfo" (ngSubmit)="submit()">
          <label>Tidligere erfaring ved: </label>
          <ng-container *ngFor="let exp of user.experience">
            <span> {{exp.industry.title}}</span>
            <span> {{exp.studentSubject.title}}</span>
            <span> {{exp.business}}</span>
          </ng-container>
          <h3>Vennligst forklar </h3>
          <div>
               <p>Hva er noe du skulle du ble fortalt før du begynte?</p>
             <input type="text" formControlName="preExp" class="form-control" placeholder="Skriv her.."/>
         </div>
            <div>
               <p>Hva er det mest utforderende / dårligste?</p>
                <input type="text" formControlName="badWithExp" class="form-control" placeholder="Skriv her.."/>
           </div>
         <div>
               <p>Hva er det du liker best med bransjen?</p>
              <input type="text" formControlName="goodWithExp" class="form-control" placeholder="Skriv her.."/>
         </div>
         <br/>
           <button type="submit" class="submit-btn" [disabled]="!formAddExpInfo.valid">Submit</button>
        </form>
    </div>
</div>