<div class="container">
    <div id="intro">
        <h1>Andre kan lære av din erfaring</h1>
        <p>Andre kan lære av din erfaring"
          Ikke undervurder hvor verdifull din erfaring er!
          Dine svar på nedestående spørsmål kan være mer behjelpelig enn du tror.
          Hvis du ikke har lyst til å gjøre dette nå kan du alltid gjøre
          dette ved en senere anledning.
        </p>
        
        <button type="button" class="btn skip-btn" [routerLink]="['/home']">Hopp over</button>
        <button type="button" class="submit-btn" (click)="addMore()">Del erfaring</button>
       <!-- <button type="button" class="btn btn-primary" (click)="addMoree()">moree</button> -->
    </div>
    <br/>
    <div *ngIf="this.addMoreExp">
        <form [formGroup]="formAddExpInfo" (ngSubmit)="submit()">
          <label>Tidligere erfaring ved: </label>
          <ng-container *ngFor="let exp of user.experience">
            <span> {{exp.industry.title}}</span>
            <span> {{exp.studentSubject.title}}</span>
            <span> {{exp.business}}</span>
          </ng-container>
          <h3>Vennligst forklar </h3>
          <div>
               <p>Hva er din tittel/rolle/ i nåværende stilling? (Hvis du studerer, skriv inn studieretning.)</p>
             <input type="text" formControlName="questionRole" class="form-control" placeholder="Skriv her.."/>
         </div>
            <div>
               <p>Hva er det beste med din nåværende jobb/studieretning</p>
                <input type="text" formControlName="questionBest" class="form-control" placeholder="Skriv her.."/>
           </div>
         <div>
               <p>Hva er det mest utfordrende med din nåværende jobb/studieretning?</p>
              <input type="text" formControlName="questionChallenging" class="form-control" placeholder="Skriv her.."/>
         </div>
         <div>
           <p>Hva skulle du ønske noen fortalte deg, før du begynte i nåværende jobb/studie?</p>
           <input type="text" formControlName="questionAdvice" class="form-control" placeholder="Skriv her.."/>
         </div>
         <br/>
           <button type="submit" class="submit-btn" [disabled]="!formAddExpInfo.valid">Submit</button>
        </form>
    </div>
</div>