<ng-container>
  <div class="header" *ngIf="selectedCommunity">
    <h3>{{selectedCommunity.title}}</h3>
    <p>{{selectedCommunity.description}}</p>

    <h4>Popular questions</h4>
      <button type="button" class="btn btn-outline-success top-question">What did you wish you knew before starting?</button>
      <button type="button" class="btn btn-outline-warning top-question">How well does it pay?</button>
      <button type="button" class="btn btn-outline-info top-question">What does a day in your job look like?</button>

    <br />
  </div>

  <div class="publishSection">
    <ng-container *ngIf="!showPublishSection; else elseBlock">
      <button type="button" class="btn btn-primary" (click)="showPublishSection = !showPublishSection" style="margin-left:auto;margin-right:auto;">Ask a new question to the group</button>
    </ng-container>
    <ng-template #elseBlock>
      <form [formGroup]="postForm">

        <div class="form-group">
          <textarea class="form-control" id="textPost" formControlName="textPost" placeholder="What do you want to ask about?"></textarea>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" id="postTag" class="form-check-input" [(ngModel)]="usePostTag" (change)="postTagToggle()" [ngModelOptions]="{standalone: true}" />
            <label for="postTag" class="form-check-label">Add a tag</label>
          </div>

          <select class="form-control" formControlName="postTagField">
            <option *ngFor="let postTag of allPostTags" [ngValue]="postTag">{{postTag.title}}</option>
          </select>
        </div>
        <div class="form-check">
          <input type="checkbox" id="postAnonymously" class="form-check-input" [(ngModel)]="postAnonymously" [ngModelOptions]="{standalone: true}" />
          <label for="postAnonymously" class="form-check-label">Post anonymously</label>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="sendPost()" [disabled]="!postForm.valid">Publish</button>
          <button type="button" class="btn btn-dark" (click)="showPublishSection = !showPublishSection" style="float: right;">Cancel</button>
        </div>
      </form>
    </ng-template>
  </div>

</ng-container>

  <br />
  <br/>

<div class="feedSettings">
    <!--
      <feed-settings (orderByValueEmitter)="changeOrderByValue($event)"></feed-settings>
  -->
</div>

<div class="feed">
  <ng-container *ngIf="!allPosts">
    <p>Be the first to post a question to this community</p>
  </ng-container>
  <div *ngFor="let post of allPosts | orderBy: '-date'; index as i">
    <div class="communityPost">

      <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>share</mat-icon>Copy link</button>
        <button mat-menu-item (click)="this.postsService.reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
      </mat-menu>

      <div class="row align-items-center">
        <div class="col-md-auto pointAndNoSelect">
          <b (click)="this.postsService.upvotePost(post, user)" matToolTip="Upvote post">🢁</b><br />
          {{post.upvotes - post.downvotes}}<br />
          <b (click)="this.postsService.downvotePost(post, user)" matToolTip="downvote post">🢃</b><br />
        </div>


        <div class="col pointAndNoSelect" [routerLink]="['post', post.id]" (click)="changeSelectedPost(post)">
          <h5>{{post.text}}</h5>
          <small *ngIf="post.postTag">{{post.postTag.title}}</small><br />
          <small>{{post.comment.length}} Comment(s)</small><br />
        </div>
      </div>
      <small>
        Submitted {{post.date | dateAgo}} by
        <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}}</span>
        <span *ngIf="post.anonymous">anonymous user</span>
      </small>
      <hr />
    </div>
  </div>
</div>
