<ng-container>
  <div class="header" *ngIf="selectedCommunity">
    <h3>{{selectedCommunity.title}}</h3>
    <p>{{selectedCommunity.description}}</p>

    <ng-container>
      <ng-container *ngIf="subscribed == 0">
        <button mat-icon-button color="primary" matToolTip="Subscribe" (click)="subscribe(selectedCommunity, user)">
          <mat-icon class="icons md-36">add_circle_outline</mat-icon>Subscribe
        </button><br />
      </ng-container>

      <ng-container *ngIf="subscribed == 1">
        <button mat-icon-button color="warn" matToolTip="Unsubscribe" (click)="unsubscribe(selectedCommunity, user)">
          <mat-icon class="icons md-36">remove_circle_outline</mat-icon>Unsubscribe
        </button><br />
      </ng-container>

    </ng-container>

    <!--
    <h4>Popular questions</h4>
    <div class="header-buttons">
      <button type="button" class="btn btn-outline-success top-question">What did you wish you knew before starting?</button>
      <button type="button" class="btn btn-outline-warning top-question">How well does it pay?</button>
      <button type="button" class="btn btn-outline-info top-question">What does a day in your job look like?</button>
    </div>
    -->


    <br />
  </div>

  <div class="publishSection">
    <ng-container *ngIf="!showPublishSectionToggle; else elseBlock">
      <button type="button" class="btn post-btn" (click)="showPublishSection()" style="margin-left:auto;margin-right:auto;">Ask a new question to the group</button>
    </ng-container>
    <ng-template #elseBlock>
      <form [formGroup]="postForm">

        <div class="form-group">
          <textarea class="form-control" id="textPost" formControlName="textPost" placeholder="What do you want to ask about?"></textarea>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" id="postTag" class="form-check-input" [(ngModel)]="usePostTag" (change)="postTagToggle()" [ngModelOptions]="{standalone: true}" />
            <label for="postTag" class="form-check-label">Add a tag</label>
          </div>

          <select class="form-control" formControlName="postTagField">
            <option *ngFor="let postTag of allPostTags" [ngValue]="postTag">{{postTag.title}}</option>
          </select>
        </div>
        <div class="form-check">
          <input type="checkbox" id="postAnonymously" class="form-check-input" [(ngModel)]="postAnonymously" [ngModelOptions]="{standalone: true}" />
          <label for="postAnonymously" class="form-check-label">Post anonymously</label>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary post-btn" (click)="sendPost()" [disabled]="!postForm.valid">Publish</button>
          <button type="button" class="btn btn-dark" (click)="showPublishSection()" style="float: right;">Cancel</button>
        </div>
      </form>
    </ng-template>
  </div>

</ng-container>

  <br />
  <br/>

<div class="feedSettings">
    <!--
      <feed-settings (orderByValueEmitter)="changeOrderByValue($event)"></feed-settings>
  -->
</div>

<!--<div class="feed">
  <ng-container *ngIf="allPosts === undefined || allPosts.length < 1; else loadMoreButton">
    <b>Be the first to post a question to this community!</b>
  </ng-container>
  <div *ngFor="let post of allPosts | orderBy: '-date'; index as i">
    <div class="communityPost">

      <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>share</mat-icon>Copy link</button>
        <button mat-menu-item (click)="this.postsService.reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
      </mat-menu>

      <div class="row align-items-center">
        <div class="col-md-auto pointAndNoSelect">
          <button mat-icon-button (click)="this.postsService.upvotePost(post, user)" matToolTip="Upvote post"><mat-icon class="icons md-48">keyboard_arrow_up</mat-icon></button><br />
          <b>{{post.upvotes - post.downvotes}}</b><br />
          <button mat-icon-button (click)="this.postsService.downvotePost(post, user)" matToolTip="downvote post"><mat-icon class="icons md-48">keyboard_arrow_down</mat-icon></button><br />
        </div>


        <div class="col pointAndNoSelect" [routerLink]="['post', post.id]" (click)="changeSelectedPost(post)">
          <h5>{{post.text}}</h5>
          <small *ngIf="post.postTag">{{post.postTag.title}}</small><br />
          <small>{{post.comment.length}} Comment(s)</small><br />
        </div>
      </div>
      <small>
        Submitted {{post.date | dateAgo}} by
        <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}}</span>
        <span *ngIf="post.anonymous">anonymous user</span>
      </small>
      <hr />
    </div>
  </div>
  <ng-container *ngIf="allPosts !== undefined && allPosts.length > 0;">
    <button (click)="loadMorePosts()">Load more</button>
  </ng-container>

</div>-->

<ng-container class="feed" *ngIf="allPosts !== undefined && allPosts.length > 0">
  <ng-container *ngIf="allPosts === undefined || allPosts.length < 1;">
    <b>Be the first to post a question to this community!</b>
  </ng-container>
  <div *ngFor="let post of allPosts | orderBy: '-date'; index as i">
    <div class="post" [routerLink]="['post', post.id]" (click)="changeSelectedPost(post)">
      <div class="row post-content">
        <div class="poster">
          <small>
            <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}} &middot; {{post.date | dateAgo}}</span>
            <span *ngIf="post.anonymous">Anonymous &middot; {{post.date | dateAgo}}</span>
          </small>
        </div>
        <div class="report-dot" (click)="noRouting($event)">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>share</mat-icon>Copy link</button>
            <button mat-menu-item (click)="reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
          </mat-menu>
        </div>
      </div>
      <div class="row post-content">
        <div class="votes" (click)="noRouting($event)">
          <button mat-icon-button (click)="upvotePost(post, user)" matToolTip="Upvote post"><mat-icon>keyboard_arrow_up</mat-icon></button>
          {{post.upvotes - post.downvotes}}
          <button mat-icon-button (click)="downvotePost(post, user)" matToolTip="downvote post"><mat-icon>keyboard_arrow_down</mat-icon></button>
        </div>

        <div class="post-text">
            <b>{{post.text}}</b>
        </div>
      </div>

      <div class="row post-content" *ngIf="post.postTag">
        <div class="tag">
          <small>
              <i>{{post.postTag.title}}</i>
          </small>
        </div>

        <div class="comments">
            <img class="post-comments" src="../../assets/icons/navbar/chat.svg" />
            {{post.comment.length}}
        </div>
      </div>
    </div>
  </div>
  <br />
  <ng-container *ngIf="allPosts !== undefined && allPosts.length > 0;">
    <button class="btn post-btn" (click)="loadMorePosts()">Load more</button>
  </ng-container>
</ng-container>
