<ng-container class="feed" *ngIf="allPosts !== undefined && allPosts.length > 0">
  <div *ngFor="let post of allPosts | orderBy: '-date'; index as i">
    <div class="post" [routerLink]="['/communities', post.community.id, 'post', post.id]" (click)="changeSelectedPost(post)">
      <div class="row post-content">
        <div class="poster">
          <small>
            <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}}</span>
            <span *ngIf="post.anonymous">Anonymous</span>
            <span *ngIf="post.experience !== null"> &middot; {{post.experience.occupation}} - {{post.experience.industry.title}} {{post.experience.studentSubject.title}}</span>
            <span> &middot; {{post.date | dateAgo}}</span>
            <span *ngIf="selectedCommunity.id != post.community.id"> in <a [routerLink]="['/communities', post.community.id]" (click)="changeSelectedCommunity(post.community)">{{post.community.title}}</a></span>
          </small>
        </div>
        <div class="report-dot" (click)="noRouting($event)">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="copyURLOfPost(post)"><mat-icon>share</mat-icon>Copy link</button>
            <button mat-menu-item (click)="reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
          </mat-menu>
        </div>
      </div>
      <div class="row post-content">
        <div class="votes" (click)="noRouting($event)">
          <button mat-icon-button (click)="upvotePost(post, user)" matTooltip="Upvote post"><mat-icon id="thumb_up">thumb_up</mat-icon></button>
          {{post.upvotes - post.downvotes}}
          <button mat-icon-button (click)="downvotePost(post, user)" matTooltip="downvote post"><mat-icon id="thumb_down">thumb_down</mat-icon></button>
        </div>

        <div class="post-text">
          <div>{{post.text}}</div>
        </div>
      </div>

      <div class="row post-content" *ngIf="post.postTag">
        <div class="tag">
          <small>
            <i class="tag-text" [ngStyle]="{'color':getColor(post.postTag.title)}">{{post.postTag.title}}</i>
          </small>
        </div>

        <div class="comments">
          <img class="post-comments" src="../../assets/icons/navbar/chat.svg" />
          {{post.comment.length}}
        </div>
      </div>
    </div>
  </div>
  <br />
  <ng-container *ngIf="allPosts !== undefined && allPosts.length > 0;">
    <button class="btn post-btn" (click)="loadMorePosts()">Load more</button>
  </ng-container>
</ng-container>
