
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
  <title>Basic icons</title>
</head>

<nav>
  <ul>
    <li><a routerLink="/signUp" routerLinkActive="active">Sign up Component</a></li>
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home Component</a></li>
    <li><a [routerLink]="['/communities']" routerLinkActive="active">Community Feeds</a></li>
    <li><a [routerLink]="['/admin']" routerLinkActive="active">Admin Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
