@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mainImg {
    width: 60%;
}

.main-container {
    padding-top: 50px;
    padding-bottom: min(150px);
}

.new_post_div{
    margin:40px;
    justify-content: center;
    text-align: center;
    border:solid 1px black;
    padding:10px;
}

.trending-div {
    background-color: #FFF;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
}

.row {
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.input-field {
    -ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box; 
box-sizing:content-box;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.imageRow {
    justify-content: center;
    align-items: center;
}

.community-input {
    width: 80%;
    padding: 20px;
    font-size: 20px;
    border: 1px solid var(--mainColor);
    border-bottom: 5px solid var(--mainColor);
}

.community-input:focus {
    outline: none;
}

.communities {
    width: 100%;
    display: flex;
}

mat-grid-list {
    width: 100%;
}

.gallery {
    width: 80%;
}

.community-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 80%;
    position: relative;
    border: 1px solid var(--mainColor);
    border-radius: 20px;
}

.list-box {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-box a {
    color: black;
}

.list-box a:hover {
    text-decoration: none;
}

.arrows {
    display: flex;
    align-items: center;
    user-select: none;
}

mat-icon {
    cursor: pointer;
}

.image {
    width: 50px;
    height: 50px;
}

trending-posts {
    width: 80%;
}

.trending {
    width: 80%;
    font-size: 20px;
}

.post {
    padding: 10px;
    border-bottom: 1px solid var(--mainColor);
    cursor: pointer;
}

.post:focus {
    outline: none;
}

.post:hover {
    background-color: rgb(211, 211, 211);
}


.post-content {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-dot {
    position: absolute;
    right: 0;
  }

.tag {
    position: absolute;
    left: 0;
}

.poster {
    position: absolute;
    left: 0;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}

mat-icon:focus {
    color: blue;
}

.post-text {
    position: absolute;
    left: 3rem;
}

.post-date {
    position: absolute;
    left: 0;
}


.comments {
    position: absolute;
    right: 0;
}

.post-comments {
    width: 25px;
    height: 25px;
}

.comments:hover {
    cursor: pointer;
}

@media (max-width: 1500px) {

    .mainImg {
        width: 40%;
    }

    .image {
        width: 30px;
        height: 30px;
    }

    .industry-input {
        padding: 10px;
        font-size: 15px;
    }

    mat-grid-list {
        width: 100%;
        
    }


}

@media (max-width: 1100px) {
    .main-container {
        padding-top: 0;
    }

    .community-input {
        width: 100%;
    }

    .trending {
        width: 100%;
    }

    
    .input-field {
        margin: 0;
    }

    .post-row {
        margin-left: 0;
        margin-right: 0;
    }

    .post-content {
        min-height: 80px;
        margin: auto;
    }

    .post-text {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
    }

    .community-container {
        overflow-x: scroll;
    }

    .arrows {
        display: none;
    }
}

@media (max-width: 800px) {
    .container {
        font-size: 14px;
    }

    .post-content {
        font-size: 14px;
    }
}
