<div class="container main-container">
    <div class="row">
        <input class="community-input" list="community-list" type="text" placeholder="Explore..." (change)="navigateToCommunity($event.target.value)">
        <datalist id="community-list">
            <option *ngFor="let community of allCommunities | orderBy: 'title'" [ngValue]="community.id">{{community.title}}</option>
        </datalist>
    </div>
    
    <div class="row flex-column">
        <h2 class="text-center">Trending posts</h2>
        <div class="trending">
            <div class="post-list" *ngFor="let post of trendingPosts">

                <div class="post" [routerLink]="['/communities', post.community.id, 'post', post.id]">
                    <div class="row post-content">
                        <div class="poster">
                            <small>
                                <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}} &middot; {{post.date | dateAgo}}</span>
                                <span *ngIf="post.anonymous">Anonymous &middot; {{post.date | dateAgo}}</span>
                            </small>
                        </div>
                        <div class="report-dot" (click)="noRouting($event)">
                            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item><mat-icon>share</mat-icon>Copy link</button>
                              <button mat-menu-item (click)="this.postsService.reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
                            </mat-menu>
                          </div>

                        
                    </div>
                    <div class="row post-content">
                        <div class="votes" (click)="noRouting($event)">
                            <button mat-icon-button (click)="upvotePost(selectedPost, user)" matToolTip="Upvote post"><mat-icon>keyboard_arrow_up</mat-icon></button>
                            {{post.upvotes - post.downvotes}}
                            <button mat-icon-button (click)="downvotePost(selectedPost, user)" matToolTip="Downvote post"><mat-icon>keyboard_arrow_down</mat-icon></button>
                        </div>

                        <div class="post-text">
                            <div>{{post.text}}</div>
                        </div>
                    </div>

                    <div class="row post-content" *ngIf="post.postTag">
                        <div class="tag">
                            <small>
                                <i>{{post.postTag.title}}</i>
                            </small>
                        </div>

                        <div class="comments">
                            <img class="post-comments" src="../../assets/icons/navbar/chat.svg" />
                            {{post.comment.length}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
