<div class="edit">
    <div class="profile-edit">
      <ng-container *ngIf="experience != undefined">
      <button mat-icon-button [routerLink]="['/profile/experience']"><mat-icon>first_page</mat-icon>Go back</button>
      <div *ngIf="experience.questionRole === null || experience.questionBest === null 
      || experience.questionChallenging === null || experience.questionAdvice === null">
        <p>Skipped the follow-up questions after sign up? Answer them <a [routerLink]="(['/erfaring'])">here</a></p>
      </div>
    </ng-container>
        <h3>Change here: </h3>
        <span class="form-text text-muted">If you don't want to change a value, just leave it as it is :)</span>
        <div *ngIf="experience != undefined">
          <form [formGroup]="formPatchExperience" (ngSubmit)="submit()">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Occupation</th>
                <th scope="col" *ngIf="experience.occupation === 'Student'">Field of study</th>
                <th scope="col" *ngIf="experience.occupation === 'Full-time employee' || 
                experience.occupation === 'Business owner' || experience.occupation === 'Entrepreneur'">Industry</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col">Change from:</th>
                <td>{{experience.occupation}}</td>
                <td *ngIf="experience.studentSubject != null">{{experience.studentSubject.title}}</td>
                <td *ngIf="experience.industry != null">{{experience.industry.title}}</td>
                <td *ngIf="experience.business != null">{{experience.business}}</td>
                <td>{{startDateConverted}}</td>
                <td *ngIf="experience.endDate != null">{{endDateConverted}}</td>
              </tr>
              <tr>
                <th scope="col">Change to:</th>
                <td>
                  <select id="Occupation" class="form-control" id="selOccupation" formControlName="occupation">
                    <option [disabled]="true" [selected]="true">Select your occupation</option>
                    <option *ngFor="let item of Occupations" [ngValue]="item">{{item.occupation}}</option>
                  </select>
                </td>
                <td *ngIf="experience.occupation === 'Student'">
                  <select class="form-control" formControlName="subjects">
                    <option [disabled]="true" [selected]="true">Select your subjects</option>
                    <option *ngFor="let item of allSubjects" [ngValue]="item">{{item.title}}</option>
                  </select>
                </td>
                <td *ngIf="experience.occupation === 'Industry' || experience.occupation === 'Full-time employee' || experience.occupation === 'Business owner'">
                  <select class="form-control" formControlName="industry">
                    <option [disabled]="true" [selected]="true">Select your industry</option>
                    <option *ngFor="let item of allIndustries" [ngValue]="item">{{item.title}}</option>
                  </select>
                  <ng-container *ngIf="experience.occupation === 'Business owner' || experience.occupation === 'Full-time employee'">
                    <input type="text" class="form-control" placeholder="Ex: Google" id="business" formControlName="business">
                  </ng-container>
                </td>
                <td>
                  <input type="date" class="form-control" formControlName="startDate">
                </td>
                <td>
                  <input type="date" class="form-control" formControlName="endDate">
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-danger" (click)="resetForm()">Reset form</button>
        </form>
        </div>
    </div>
</div>