@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.navbar {
    position: fixed;
    z-index: 101;
    width: 100vw;
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-content: center;
}

.navbar-brand {
    color: white;
}

.navbar-links {
    width: 85%;
    align-content: center;
    height: 100%;
}

.navbar-links ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    list-style: none;
}

.navbar-links li {
    justify-content: center;
    color: white;
    border-radius: 100px;
}

.navbar-links li:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.left-links {
    display: flex;
}

.right-links {
    display: flex;
}

.nav-links {
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 100px;
    align-items: center;
    color: white;
    text-decoration: none;
    justify-content: center;
}

.navbar-icons {
    height: 25px;
    width: 25px;
}

.list-element.active {
    font-weight: bold;
}

/* .navbar {
    position: fixed;
    z-index: 101;
    top: 0;
    background-color: var(--mainColor);
    text-align: center;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    color: black;
}

.navbar-links {
    width: 50%;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-links li {
    border-radius: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.navbar-links li:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.navbar-links li:focus {
    user-select: none;
    outline: none;
}

.nav-links {
    display: grid;
    grid-template-columns: 25px 100px;
    grid-gap: .5rem;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: left;
    justify-content: center;
}

.list-element.active {
    font-weight: bold;
}

.navbar-icons {
    height: 25px;
    width: 25px;
}

.navbar-text {
    overflow-wrap:normal;
    letter-spacing: 0px;
} */

@media screen and (max-width: 1100px) {

    * {
        all: initial;
    }

    .navbar {
        position: fixed;
        top: auto;
        width: 100%;
        height: 10vh;
        bottom: 0;
    }

    .navbar-links ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10vh;
        width: 100vw;
        padding: 0;
    }

    .left-links, .right-links {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
    }


    .navbar-links li {
        padding: 0;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        max-height: 70%;
        align-items: center;
        user-select: none;
        background-color: var(--mainColor);
    }

    .navbar-brand {
        display: none;
    }

    .navbar-text {
        display: none;
    }

    .list-element.active .navbar-icons {
        padding-bottom: 5px;
        border-bottom: 5px solid black;
    }

    .user-welcome {
        display: none;
    }
    

}


/* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

