<div class="navbar">
  <div class="navbar-brand">
    <h4>KnowONE</h4>
  </div>

  <div class="navbar-links">
    <ul>
      <li>
        <a class="nav-links" [routerLink]="['/home']">
          <img src="../../assets/icons/navbar/home.png" class="navbar-icons" alt="Home" />
          <span class="navbar-text">Home <span class="sr-only">(current)</span></span>
        </a>
      </li>
      <li>
        <a class="nav-links" [routerLink]="['/communities/all']">
          <img src="../../assets/icons/navbar/chat.svg" class="navbar-icons" alt="Communities" />
          <span class="navbar-text">Communities <span class="sr-only">(current)</span></span>
        </a>
      </li>
      <li>
        <a class="nav-links" [routerLink]="['/admin']">
          <img src="../../assets/icons/navbar/settings.svg" class="navbar-icons" alt="Admin" />
          <span class="navbar-text">Admin <span class="sr-only">(current)</span></span>
        </a>
      </li>
      <li *ngIf="!loggedIn">
        <a class="nav-links" [routerLink]="['/signUp']">Sign up</a>
      </li>
      <li *ngIf="loggedIn">
        <a class="nav-links" [routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="loggedIn">
        <a class="nav-links" [routerLink]="['/profile']">Profile</a>
      </li>
    </ul>
  </div>
</div>