@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.navbar {
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--mainColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.navbar-brand {
    color: white;
}

.navbar-links ul {
    list-style: none;
}

.navbar-links li {
    width: 100%;
    border-radius: 100px;
    margin: 1rem 0;
    padding: 1rem 1rem;
}

.navbar-links li:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.navbar-links li:focus {
    user-select: none;
    outline: none;
}

.nav-links {
    display: grid;
    grid-template-columns: 25px 100px;
    grid-gap: .5rem;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: left;
}

.list-element.active {
    font-weight: bold;
}

.navbar-icons {
    height: 25px;
    width: 25px;
}

.navbar-text {
    overflow-wrap:normal;
    letter-spacing: 0px;
}

@media screen and (max-width: 1100px) {

    * {
        all: initial;
    }

    .navbar {
        position: fixed;
        top: auto;
        width: 100%;
        height: 10vh;
        bottom: 0;
    }

    .navbar-links ul{
        display: flex;
        align-items: center;
        height: 10vh;
    }

    .navbar-links li {
        padding: 0;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        max-height: 70%;
        align-items: center;
        user-select: none;
        background-color: var(--mainColor);
    }

    .navbar-brand {
        display: none;
    }

    .navbar-text {
        display: none;
    }

    .list-element.active .navbar-icons {
        padding-bottom: 5px;
        border-bottom: 5px solid black;
    }

    .user-welcome {
        display: none;
    }
    

}

