<ng-container>
  <div class="header">
    <h3>All</h3>
    <p>A collection of all communities</p>
    <br />
  </div>
</ng-container>

<div class="feedSettings">
  <!--
      <feed-settings (orderByValueEmitter)="changeOrderByValue($event)"></feed-settings>
  -->
</div>

<!--<div class="feed">
  <ng-container *ngIf="allPosts === undefined || allPosts.length < 1; else loadMoreButton">
    <b>Be the first to post a question to this community!</b>
  </ng-container>
  <div *ngFor="let post of allPosts | orderBy: '-date'; index as i">
    <div class="communityPost">

      <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>share</mat-icon>Copy link</button>
        <button mat-menu-item (click)="this.postsService.reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
      </mat-menu>

      <div class="row align-items-center">
        <div class="col-md-auto pointAndNoSelect">
          <button mat-icon-button (click)="this.postsService.upvotePost(post, user)" matToolTip="Upvote post"><mat-icon class="icons md-48">keyboard_arrow_up</mat-icon></button><br />
          <b>{{post.upvotes - post.downvotes}}</b><br />
          <button mat-icon-button (click)="this.postsService.downvotePost(post, user)" matToolTip="downvote post"><mat-icon class="icons md-48">keyboard_arrow_down</mat-icon></button><br />
        </div>


        <div class="col pointAndNoSelect" [routerLink]="['post', post.id]" (click)="changeSelectedPost(post)">
          <h5>{{post.text}}</h5>
          <small *ngIf="post.postTag">{{post.postTag.title}}</small><br />
          <small>{{post.comment.length}} Comment(s)</small><br />
        </div>
      </div>
      <small>
        Submitted {{post.date | dateAgo}} by
        <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}}</span>
        <span *ngIf="post.anonymous">anonymous user</span>
      </small>
      <hr />
    </div>
  </div>
  <ng-container *ngIf="allPosts !== undefined && allPosts.length > 0;">
    <button (click)="loadMorePosts()">Load more</button>
  </ng-container>

</div>-->

<div class="feed" *ngIf="allPosts !== undefined && allPosts.length > 0">
  <div *ngFor="let post of allPosts | orderBy: '-date'; index as i">
    <div class="post" [routerLink]="['/communities', post.community.id, 'post', post.id]" (click)="changeSelectedPost(post)">
      <div class="row post-content">
        <div class="poster">
          <small>
            <span *ngIf="!post.anonymous">{{post.user.firstname}} {{post.user.lastname}} &middot; {{post.date | dateAgo}} in {{post.community.title}}</span>
            <span *ngIf="post.anonymous">Anonymous &middot; {{post.date | dateAgo}}</span>
          </small>
        </div>
        <div class="report-dot" (click)="noRouting($event)">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>share</mat-icon>Copy link</button>
            <button mat-menu-item (click)="reportPost(post)"><mat-icon>report</mat-icon>Report post</button>
          </mat-menu>
        </div>
      </div>
      <div class="row post-content">
        <div class="votes" (click)="noRouting($event)">
          <button mat-icon-button (click)="upvotePost(post, user)" matToolTip="Upvote post"><mat-icon>keyboard_arrow_up</mat-icon></button>
          {{post.upvotes - post.downvotes}}
          <button mat-icon-button (click)="downvotePost(post, user)" matToolTip="downvote post"><mat-icon>keyboard_arrow_down</mat-icon></button>
        </div>

        <div class="post-text">
          <b>{{post.text}}</b>
        </div>
      </div>

      <div class="row post-content" *ngIf="post.postTag">
        <div class="tag">
          <small>
            <i>{{post.postTag.title}}</i>
          </small>
        </div>

        <div class="comments">
          <img class="post-comments" src="../../assets/icons/navbar/chat.svg" />
          {{post.comment.length}}
        </div>
      </div>
    </div>
  </div>
  <br />
  <ng-container *ngIf="allPosts !== undefined && allPosts.length > 0;">
    <button class="btn post-btn" (click)="loadMorePosts()">Load more</button>
  </ng-container>
</div>
