<ng-container>
  <div class="header">
    <h3>All</h3>
    <p>A collection feed of all communities</p>
    <br />
  </div>
</ng-container>

<b>If you wish to post a question, please to go a community in the dropdown on the right</b>


<div class="feedSettings">
  <!--
      <feed-settings (orderByValueEmitter)="changeOrderByValue($event)"></feed-settings>
  -->
</div>


<ng-container class="feed" *ngIf="allPosts !== undefined && allPosts.length > 0">
  <feed-component [allPosts]="allPosts"></feed-component>
</ng-container>


