<ng-container class="container" *ngIf="experienceToVerify">
  <ng-container *ngIf="feedback !== undefined">
    <b>{{feedback}}</b>
  </ng-container>

  <form [formGroup]="mailVerifyForm">
    <div class="form-group">
      <label for="experience">Experience to verify</label>
      <select class="form-control" formControlName="experienceField">
        <option *ngFor="let exp of experiences" [ngValue]="exp">{{exp.occupation}} - {{exp.industry.title}} {{exp.studentSubject.title}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="verifyMail">Email for verification</label>
      <input type="text" placeholder="Mail" id="verifyMail" formControlName="mailVerify" class="form-control" /> <br />
    </div>

    <div class="form-group row">
      <ng-container class="col">
        <button class="btn btn-primary" id="verifyButton" type="submit" [disabled]="!mailVerifyForm.valid && !sendMailButton" (click)="checkMail()">Submit</button>
      </ng-container>

      <ng-container class="col" *ngIf="sendToReviewButton">
        <button class="btn btn-success" id="reviewButton" [disabled]="!mailVerifyForm.valid && !sendToReviewButton" (click)="askForReview()">Add domain</button>
      </ng-container>
    </div>
  </form>
</ng-container>

