@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.pointAndNoSelect {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.main-container {
  padding-left: min(150px);
  padding-right: min(150px);
  padding-bottom: min(150px);
  padding-top: 20px;
}


.header{
    margin-bottom: 20px;
}

.top-question{
    margin-right: 15px;
    margin-bottom: 10px;
}

.form-check {
  margin-bottom: 10px;
}

.feedSettings{
    margin-bottom: 15px;
}

.test {
  color: red;
}

::ng-deep .mat-select-panel {
 
  max-height: 80vh;
}

.communities-list {
    margin-bottom: 15px;
}

.communityPost {
  margin-bottom: 20px;
  padding: 7px 7px 7px 7px;
  background-color: transparent;
}

.postComment {
  margin-bottom: 15px;
  padding: 5px 5px 5px 5px;
}

.icons.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.icons.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.icons.md-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.icons.md-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.snackbarCustom {
  margin: 0 !important;
}

/* POST STYLE */
.post {
  padding: 20px;
  border-bottom: 1px solid var(--mainColor);
  width: 100%;
  margin: auto;
}

.post-content {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.report-dot {
  position: absolute;
  right: 0;
  z-index: 100;
}

.tag {
  position: absolute;
  left: 0;
}

.poster {
  position: absolute;
  left: 0;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 100;
}

.post-text {
  position: absolute;
  right: 0;
}

.post-date {
  position: absolute;
  left: 0;
}


.comments {
  position: absolute;
  right: 0;
}

.comments:hover {
  cursor: pointer;
}

.post-comments {
  width: 25px;
  height: 25px;
}

/* COMMENT STYLE */
.comment {
  padding: 20px;
  border-bottom: 1px solid var(--mainColor);
  width: 100%;
}

.highlighted{
    background-color: lightgrey;
}

/* BUTTONS */
.btn {
  border-radius: 50px;
}

.post-btn {
  background-color: var(--mainColor);
  user-select: none;
  color: white;
  border: none;
}

.post-btn:focus {
  outline: none;
  box-shadow: none;
}


@media (max-width: 1000px) {
  .post-col {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .main-container {
      padding-left: 20px;
      padding-right: 20px;
  }

  .header {
    text-align: center;
  }

  .header-buttons > button {
    width: 100%;
  }

  .communities-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .trending {
    width: 100%;
    font-size: 14px;
  }

  .post-content {
    min-height: 80px;
    width: 100%;
    margin: auto;
  }

  .post-text {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
  }
}
