<div class="container main-container">
  <div class="row">
    <div class="col-md-auto communities-col">
      <ng-container *ngIf="loggedIn">
        <div class="communities-list">
            <h4 [routerLink]="['./', 'your']" (click)="goToYour()">Your communities</h4>
          <mat-form-field apperance="fill">
            <mat-label>Scroll through</mat-label>
            <mat-select>
              <mat-option *ngFor="let community of user.communities | orderBy: 'title'" id="community.title" [value]="community.title" [routerLink]="['./', community.id]" (click)="changeSelectedCommunity(community)">
                {{community.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container>
        <div class="communities-list">
          <h4 [routerLink]="['./', 'all']" (click)="goToAll()">All Communities</h4>
          <mat-form-field apperance="fill">
            <mat-label>Scroll through</mat-label>
            <mat-select>
              <mat-option *ngFor="let community of rootCommunities | orderBy: 'title'" id="dropdown" [value]="community.id" [routerLink]="['./', community.id]" (click)="changeSelectedCommunity(community)">
                {{community.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </div>

    <div class="col col-lg post-col">

         <router-outlet></router-outlet>

    </div>
  </div>

</div>
