body {
}


.pointAndNoSelect {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}


div.centerElements {
  display: table;
  width: 100%;
  table-layout: fixed; /* For cells of equal size */
}

div.centerElements span {
  display: table-cell;
  text-align: center;
}
