.container {
    padding-left: min(150px);
    padding-right: min(150px);
    padding-bottom: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    border-radius: 50px;
}

.skip-btn {
    background-color: rgb(231, 50, 50);
    padding: 10px;
    user-select: none;
    color: white;
    border-radius: 50px;
    border: none;
}

.skip-btn:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.submit-btn {
    background-color: var(--mainColor);
    padding: 10px;
    user-select: none;
    color: white;
    border-radius: 50px;
    border: none;
}

.submit-btn:focus, select:focus, input:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    border: 1px solid var(--mainColor);
}

@media (max-width: 1100px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}