.container {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exp-field {
    background-color: #FFF;
    width: 80%;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.form-box {
    margin-top: 40px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;
}

input, select {
    border-radius: 50px;
}

.skip-btn {
    background-color: rgb(231, 50, 50);
    padding: 10px;
    user-select: none;
    color: white;
    border-radius: 50px;
    border: none;
}

.skip-btn:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.submit-btn {
    background-color: var(--mainColor);
    padding: 10px;
    user-select: none;
    color: white;
    border-radius: 50px;
    border: none;
}

.submit-btn:focus, select:focus, input:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    border: 1px solid var(--mainColor);
}

.link {
    margin: 10px 0;
}

@media (max-width: 1100px) {
    .container {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .form-box {
        width: 100%;
        margin-top: 0;
    }
}

.field-icon{
float: right;
margin-left: -25px;
margin-top: -25px;
position: relative;
z-index: 2;
cursor: pointer;
}


  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover {
    visibility: visible;
  }

  .feedback {
      color:red;
  }

#div2{
    display: none;
}
#div3{
    display: none;
}

#div4{
    display: none;
}

.edit-container {
    padding-top: 100px;
}

#intro {
    margin: auto;
    max-width: 50%;
}

.exp-button {
    display: inline;
    width: 50%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: rgb(216, 211, 211);
}

.exp-button:hover {
    outline-style: solid;
    outline-color: grey;
}

.exp-button-row {
    display: flex;
    flex-wrap: wrap;
}

.exp-button.L {
    margin-right: 2%;
    margin-left: -10px;
}
 
.exp-button.R {
    margin-left: 2%;
    margin-right: -10px;
}

.edit-form{
    margin: auto;
    max-width: 50%;
}

.edit-form-button {
    outline: none;
    background-color: rgb(216, 211, 211);
    border:none;
    padding: 5px;
    width:50%;
    display:inline;
}

.edit-form-button.L {
    margin-right: 2%;
    margin-left: -10px;
}

.edit-form-button.R {
    margin-left: 2%;
    margin-right: -10px;
}

.edit-form-button.single {
    width: 100% !important;
}

.edit-form-button:hover {
    outline-style: solid;
    outline-color: grey;
}

.form-feedback > li {
    color: rgb(255, 43, 43);
}



