<div class="container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h3 class="h3 mb-3 fw-normal">Sign in</h3>
    <div class="row">
      <div class="form-group col">
        <label for="Firstname" class="visually-hidden">Name</label>
        <input type="text" formControlName="firstname" placeholder="First name" id="Firstname" class="form-control" />
      </div>
      <div class="form-group col">
        <label for="Lastname" style="visibility: hidden;">Lastname</label>
        <input type="text" formControlName="lastname" placeholder="Last name" id="Lastname" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label for="Age" [class]="visually-hidden">Age</label>
      <input type="number" formControlName="age" placeholder="Age" id="Age" class="form-control" min="13" />
    </div>
    <div class="form-group">
      <label for="Email" [class]="visually-hidden">Email</label>
      <input type="email" formControlName="email" placeholder="Email" id="Email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="Password" [class]="visually-hidden">Password</label>
      <input type="password" formControlName="password" placeholder="Password" id="Password" class="form-control" />
    </div>
    <div class="row">
      <div class="form-group col-4">
        <label for="Gender" [class]="visually-hidden">Gender</label>
        <select formControlName="gender" id="Gender" class="form-control" autocomplete="off">
          <option [disabled]="true" [selected]="true">Select your gender</option>
          <option *ngFor="let item of Gender" [ngValue]="item">{{item.gender}}</option>
        </select>
      </div>
      <div class="form-group col-4">
        <label for="Occupation" [class]="visually-hidden">Occupation</label>
        <select formControlName="occupation" autocomplete="off" (change)="updateOccupationStatus()" id="Occupation" class="form-control">
          <option [disabled]="true" [selected]="true">Select your occupation</option>
          <option *ngFor="let item of Occupations" [ngValue]="item">{{item.occupation}}</option>
        </select>
      </div>
      <div *ngIf="showIndustry" class="form-group col-4">
        <label for="industry" class="visually-hidden">Industry</label>
        <select formControlName="industry" id="Industry" class="form-control" autocomplete="off">
          <option [disabled]="true" [selected]="true">Select your industry</option>
          <option *ngFor="let item of Industry" [ngValue]="item">{{item.industry}}</option>
        </select>
      </div>
    </div>  <!--END ROW-->
    <div *ngIf="showIndustry" class="form-group">
      <p>Can't find <strong>your</strong> industry? Write it here:</p>
      <input type="text" placeholder="Industry" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
  </form>
  <p>
    Already registered? Sign in <span [routerLink]="['/logIn']" style="color:blue;">here</span>
    <br />
  <p>Wish to browse as anonymous? Click <span style="color: blue;" (click)="browseAnonymously()">here</span></p>
</div> <!-- MAIN DIV-->
