<!--
<table class="table table-sm table-hover">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr *ngFor="let user of allUsers">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
    </tr>
</table>
-->
<!-- Make one div for each question -->
<div>
    <div>
        <label>What is your <strong>first </strong>name?</label> <br />
        <input placeholder="first name" /> <br />
        <button type="button" (click)="changeSlide()">Next</button>
    </div>
    <div>
        <label>What is your <strong>last </strong>name?</label> <br />
        <input placeholder="last name" /> <br />
        <button type="button" (click)="changeSlide()">Next</button>
    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
</div>

