<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstname">fornavn</label>
    <input type="text" formControlName="firstname" />
    <div [hidden]="signUpForm.controls.firstname.valid || (signUpForm.controls.firstname.pristine && !submitted)">
      <span>Fornavn ikke godkjent</span>
      <ul>
        <li>Må være mer enn 2 bokstaver</li>
        <li>Må være mindre enn 35 bokstaver</li>
        <li>Kan ikke inneholde tall</li>
      </ul>
    </div>
  </div>
  <div>
    <label for="lastname">etternavn</label>
    <input type="text" formControlName="lastname" />
    <div [hidden]="signUpForm.controls.lastname.valid || (signUpForm.controls.lastname.pristine && !submitted)">
      <span>Etternavn ikke godkjent</span>
      <ul>
        <li>Må være mer enn 2 bokstaver</li>
        <li>Må være mindre enn 35 bokstaver</li>
        <li>Kan ikke inneholde tall</li>
      </ul>
    </div>
  </div>
  <div>
    <label for="age">alder</label>
    <input type="text" formControlName="age" />
    <div [hidden]="signUpForm.controls.age.valid || (signUpForm.controls.age.pristine && !submitted)">
      <span>Alder ikke godkjent</span>
      <ul>
        <li>Må være mer enn 13 år</li>
        <li>Må være mindre enn 120 år</li>
        <li>Kan ikke inneholde bokstaver</li>
      </ul>
    </div>
  </div>
  <div>
    <label for="email">E-post</label>
    <input type="text" formControlName="email" />
    <div [hidden]="signUpForm.controls.email.valid || (signUpForm.controls.email.pristine && !submitted)">
      <span>E-post ikke godkjent</span>
      <ul>
        <li>Pass på at E-posten er skrevet riktig</li>
      </ul>
    </div>
  </div>
  <div>
    <label for="password">passord</label>
    <input type="password" formControlName="password" />
    <div [hidden]="signUpForm.controls.password.valid || (signUpForm.controls.password.pristine && !submitted)">
      <span>Passord ikke godkjent</span>
      <ul>
        <li>Må være mer enn 8 tegn</li>
        <li>Må inneholde minst 1 stor bokstav</li>
        <li>Må inneholde et tall</li>
      </ul>
    </div>
  </div>
  <div>
    <p>
      \\\\\ Til senere er det kanskje lurt å legge inputs under denne setningen til en 'videreført registrering'/////
    </p>
    <label for="occupation">yrke</label>
    <select formControlName="occupation">
      <option *ngFor="let item of Occupations" [ngValue]="item">{{item.occupation}}</option>
    </select>
  </div>
  <div>
    <label for="gender">Kjønn</label>
    <select formControlName="gender">
      <option *ngFor="let item of Gender" [ngValue]="item">{{item.gender}}</option>
    </select>
  </div>
  <div>
    <label for="industry">Industri</label>
    <select formControlName="industry">
      <option *ngFor="let item of Industry" [ngValue]="item">{{item.industry}}</option>
    </select>
  </div>
  <button class="button" type="submit" [disabled]="!signUpForm.valid">Send inn</button>
</form>
<p>Har du allerede en bruker? Logg inn <span [routerLink]="['/logIn']" style="color:blue; ">her</span>
  <br/>
  <p>Vil du fortsette som anonym? Trykk <span style="color: blue;" (click)="browseAnonymously()">her</span></p>
<button type="button" (click)="test()">test</button>
