<div class="profile-welcome">
  <h2>Here are the communities you belong to.</h2>
  <p>
    Based on your work experience, we automatically assign you to communities where we believe your knowledge can benefit others.
    However, you can always join additional communities, or even create your own sub-community :)
  </p>
</div>

<div class="communities">
    <div class="profile-communities">
      <ng-container class="list" *ngIf="loggedIn">
        <h3>List of communities</h3>
        <ul class="row" *ngFor="let user of user.communities">
          <li class="col">{{user.title}}</li>
        </ul>
      </ng-container>
    </div>
  </div>
