<div class="container">
  <div class="section grid-item">
    <div class="profile-welcome">
      <h2>Welcome {{user.firstname}}!</h2>
      <p>
        KnowONE is a network society where you can ask all your career-related questions without and get answers 
        from profesionals within that profession
      </p>
    </div>
    <router-outlet></router-outlet>
    
  </div>
  <div class="profile grid-item">
    <div class="profile-header">
      <img class="profile-image" src="../../assets/images/test.png" />
      <h2>{{user.firstname}} {{user.lastname}}</h2>
    </div>
    <div class="profile-list">
      <div class="link" [routerLink]="['communities']">Communities</div>
      <div class="link" [routerLink]="['experience']">Experience</div>
    </div>
  </div>

</div>

<!--<div class="container">
    <div class="profile-header text-center">
      <img class="img-fluid rounded-circle" src="../../assets/images/test.png" style="height: 200px; width:200px;"/>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
    </div>
  <br/>
  <br/>
  <div>
    <p [routerLink]="(['/erfaring'])">Go back and finish the follow-up questions on your experience</p>
  </div>
  <h3>Erfaring:</h3>
    <label for="Gender" [class]="visually-hidden">Gender</label>
        <select formControlName="gender" id="Gender" class="form-control" autocomplete="off">
          <option [disabled]="true" [selected]="true">Select your gender</option>
          <option *ngFor="let item of Gender" [ngValue]="item">{{item.gender}}</option>
        </select>

  -->
  <!--
  <div class="row">
    <button class="add-btn" (click)="showFormBlock()">{{showFormButton}}</button>
    <button class="add-btn" (click)="ShowExperience()">{{showExperienceButton}}</button>
  </div>
 

  <div *ngIf="showForm">
  <form [formGroup]="formAddExperience" (submit)="submit()">
    <div class="row">
    <div class="form-group col-6">
      <label for="Occupation">Occupation</label>
      <select formControlName="occupation" autocomplete="off" (change)="updateOccupationStatus()" id="Occupation" class="form-control">
        <option [disabled]="true" [selected]="true">Select your occupation</option>
        <option *ngFor="let item of Occupations" [ngValue]="item">{{item.occupation}}</option>
      </select>
    </div>

    <div *ngIf="showIndustry" class="form-group col-6">
      <label for="industry">Industry</label>
      <select formControlName="industry" id="Industry" class="form-control" autocomplete="off">
        <option [disabled]="true" [selected]="true">Select your industry</option>
        <option *ngFor="let item of allIndustries" [ngValue]="item">{{item.title}}</option>
      </select>
    </div>

    <div *ngIf="showSubjects" class="form-group col-6">
      <label for="subjects">Subjects</label>
      <select formControlName="subjects" id="subjects" class="form-control">
        <option [disabled]="true" [selected]="true">Select your subjects</option>
        <option *ngFor="let item of allSubjects" [ngValue]="item">{{item.title}}</option>
      </select>
    </div>

    </div>

    <div class="form-group" *ngIf="showBusiness">
      <label for="Business">Business:</label>
      <input type="text" class="form-control" id="Business" formControlName="business">
    </div>

    <div class="form-group">
    <label for="fromDate">From:</label>
    <input type="date" class="form-control" id="startDate" formControlName="startDate">
    </div>

    <div class="form-group">
    <label for="toDate">To:</label> <br/>
    Still working here: <input type="checkbox" (change)="DateCheckbox($event)">
    <input type="date" class="form-control" id="endDate" formControlName="endDate">
    </div>

    <button class="save-btn" type="submit">Save changes</button>
    </form>
  </div>

  <div *ngIf="ShowExperienceDiv">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Occupation</th>
          <th scope="col">Field</th>
          <th scope="col">Started</th>
          <th scope="col">Ended</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exp of user.experience">
          <td>{{exp.occupation}}</td>
          <ng-container>
            <td *ngIf="exp.industry != null">{{exp.industry.title}}</td>
            <td *ngIf="exp.studentSubject != null">{{exp.studentSubject.title}}</td>
          </ng-container>
          <td>{{exp.startDate}}</td>
          <td>{{exp.endDate}}</td>

        </tr>
      </tbody>
    </table>
  </div>
-->
  

  <!--Testing of verification-->
  <!--<ng-container *ngIf="loggedIn">
    <verification-input [experiences]="user.experience"></verification-input>
  </ng-container>

</div> -->
