<div class="container">
  <div class="section grid-item">
    <ng-container *ngIf="loggedIn">
      <router-outlet></router-outlet>
    </ng-container>
    
  </div>
  <div class="profile grid-item">
    <div class="profile-header">
      <img class="profile-image" src="../../assets/images/test.png" />
      <h2>{{user.firstname}} {{user.lastname}}</h2>
    </div>
    <div class="profile-list">
      <div class="link" [routerLink]="['home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Home</div>
      <div class="link" [routerLink]="['communities']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Your communities</div>
      <div class="link" [routerLink]="['experience']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Experience</div>
      <div class="link" [routerLink]="['notifications']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Notifications<span *ngIf="numberOfNotifications" matBadge="{{numberOfNotifications}}" matBadgeColor="warn" matBadgeSize="large" matBadgePosition="after"></span></div>
    </div>
  </div>

</div>
