.container {
    padding-top: 50px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "column-1 column-2";
}

.grid-item {
    margin-top: 40px;
}

.profile {
    border-radius: 25px;
    min-height: 20px;
    padding: 10px;
    max-height: 600px;
    background-color: #FFF;
}

.section {
    background-color: #FFF;
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--mainColor);
    padding: 10px;
    text-align: center;
}

.profile-image {

    width: 60%;
    border-radius: 50%;
}

.profile-list {
    padding: 10px 0;
}

.link {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.link:hover {
    cursor: pointer;
}

.section {
    min-height: 20px;
    padding: 2rem;
    border-radius: 25px;
}

.info-box {
  border: 1px solid black;
  border-radius: 25px 25px 0px 0px;
}

.info-box-header {
  color: black;
  text-align: center;
  background-color: #FAC710;
  padding: 0.75rem;
  border-radius: 25px 25px 0px 0px;
  user-select: none;
}

.info-box-header:hover {
  cursor: pointer;
}

.info-box-text {
  border-radius: 25px;
  padding: 1rem;
}

.profile-welcome {
    border-bottom: 1px solid var(--mainColor);
}

.experience {
    padding: 1rem 0;
}

.communities {
    padding: 1rem 0;
}

.row {
    list-style: none;
}

.row > button {
    margin: .5rem;
    padding: .75rem;
}

select, input {
    border-radius: 50px;
}

.add-btn {
    background-color: var(--secondary-color);
    padding: 10px;
    user-select: none;
    color: white;
    border-radius: 50px;
    border: none;
}

.add-btn:focus, select:focus, input:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
}

.save-btn {
    background-color: var(--mainColor);
    padding: 10px;
    user-select: none;
    color: white;
    border-radius: 50px;
    border: none;
}

.save-btn:focus, select:focus, input:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    border: 1px solid var(--mainColor);
}

.link:focus {
    outline: none;
    user-select: none;
}

.link.active {
    font-weight: bold;
}

ng-container {
    margin: 20px 0;
}

.grid-item:nth-child(1) { grid-area: column-1; }
.grid-item:nth-child(2) { grid-area: column-2; }

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas: "column-2" "column-1";
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .grid-item {
        margin: 0;
        border: 1px solid var(--mainColor);
    }

    .profile {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        font-size: .75rem;
    }

    .profile h2 {
        font-size: 1rem;
        text-align: center;
    }
    
    .profile-header {
        border-bottom: 0;
        border-right: 1px solid var(--mainColor);
        padding: 0 1rem;
    }

    .profile-list {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        overflow-x: scroll;
    }

}

table {
    border-collapse : collapse;
    border-spacing: 0;
    width:100%;
    
}

th, td {
    border: 1px solid #c6c9cc;
    padding: 5px;
}


