<div class="container">
    <div class="profile-header text-center">
      <img class="img-fluid rounded-circle" src="../../assets/images/test.png" style="height: 200px; width:200px;"/>
      <h2>{{user.firstname}} {{user.lastname}}</h2>
    </div>
  <br/>
  <!--<div class="border border-black" style="height:200px;">
    <h3>Short description of <strong>me</strong></h3>
    <ol>
      <li>I am this</li>
      <li>I am that</li>
      <li>I am everything</li>
      <li>I am nothing</li>
      <li>Here is my resume: fil.docx</li>
      <li>HIRE ME!</li>
    </ol>
  </div>-->
  <br/>
  <h3>Erfaring:</h3>
  <!--

    <label for="Gender" [class]="visually-hidden">Gender</label>
        <select formControlName="gender" id="Gender" class="form-control" autocomplete="off">
          <option [disabled]="true" [selected]="true">Select your gender</option>
          <option *ngFor="let item of Gender" [ngValue]="item">{{item.gender}}</option>
        </select>

  -->
  <button class="add-btn" (click)="addExp()" >Add experience</button>
  <table id="tableExp" class="table">
    <thead>
    <tr>
      <td scope="col">#</td>
      <td scope="col">Occupation</td>
      <td scope="col">Yrke</td>
      <td scope="col">Fra</td>
      <td scope="col">Til</td>
    </tr>
  </thead>
  <tbody id="tableExpBody">
    
  </tbody>
  </table>

  <button class="save-btn">Save changes</button>

  <div class="profile-communities">
    <div class="list" *ngIf="this.sharedService.loggedIn">
      <h3>List of communities</h3>
      <ul class="row" *ngFor="let user of user.communities">
        <li class="col">{{user.title}}</li>
      </ul>
    </div>
  </div>


</div>
